# ignore ALL .log files
*.log

__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
TP5/src/.idea/inspectionProfiles/profiles_settings.xml
TP5/src/.idea/inspectionProfiles/Project_Default.xml
TP5/src/.idea/misc.xml
TP5/src/.idea/modules.xml
TP5/src/.idea/src.iml
TP5/src/.idea/vcs.xml
TP5/.idea/inspectionProfiles/profiles_settings.xml
TP5/.idea/inspectionProfiles/Project_Default.xml
TP5/.idea/misc.xml
TP5/.idea/modules.xml
TP5/.idea/TP5.iml
